@import url(fonts/yanone/yanone-font.css);
@import url(fonts/linlibertine/linlibertine-font.css);

body {
	background-color: #38D543;
}

#box_title{
	width:50%;
}

.title {
	padding: 0 .3em .3em .5em;
	font-family: 'Yanone Regular', sans-serif;
	font-size: 4.4em;
	color: #B9F789;
}

.subtitle {
	padding: 0 .3em .3em 1.7em;
	font-family: 'Yanone Light', sans-serif;
	font-size: 2.1em;
	color: #375C1B;
}

label {
	font-family: 'Linux Libertine Semibold', serif;
	font-size: 1.3em;
	color: #CEFCBE;
}

form {
	margin:1.5em .3em 1.5em .3em;
	width:60%;
}

fieldset {
	font-family: 'Linux Libertine Semibold', serif;
	font-size: 1.5em;
	color: #CEFCBE;
	border: solid 2px #CBDCC5;
	background: -webkit-linear-gradient(#8AC16F, #658555);
    background: -o-linear-gradient(#8AC16F, #658555);
    background: -moz-linear-gradient(#8AC16F, #658555);
    background: linear-gradient(#8AC16F, #658555);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8AC16F', endColorstr='#658555'); /* for IE */
}

.action {
	font-family: 'Linux Libertine Semibold', serif;
	font-size: .9em;
	color: #F0F351;
	text-decoration: none;
	margin-left: 1em;
}

.action:hover {
	color: #F3C631;
}

form label {
	font-family: 'Linux Libertine Semibold', serif;
	color: #F0F351;
	font-size: .9em;
	margin-left: 1em;
}

.buttonAlone{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.superindex {
	font-size: .57em;
	vertical-align:super;
}

#logo{
	float:right;
    background: url(images/logo.png) no-repeat;
    background-size: 100% 100%;  
    -moz-background-size: 100% 100%;
    margin:0.3em;
    height:170px;
    width:170px;
}

#search_result {
	margin: 1.5em 0 0 4.5em;
}

#table_search {
	margin-bottom: .3em;
	border: solid 2px #CBDCC5;
	font-family: 'Linux Libertine Semibold', serif;
	font-size: 1.4em;
	border-collapse:collapse; 
}

#table_search th {
	font-family: 'Yanone Light', sans-serif;
	font-size: 1.5em;
	background-color: #BDE2C9;
	color: #206034;
}

.row_search {
	background-color: #8AC16F;
	color: #F0F351;
}

.row_search:HOVER {
	background-color: #709F59;
	color: #DFC838;
}

.cell {
	padding: 0 2em 0 .3em;
}

a#logo_delete{
	float:left;
	background: url(images/Trash.png) no-repeat;
    background-size: 100% 100%;  
    -moz-background-size: 100% 100%;
    width:21px;
	height:21px;
	margin-right: .6em;
}

a#logo_edit{
	float:left;
	background: url(images/Pencil.png) no-repeat;
    background-size: 100% 100%;  
    -moz-background-size: 100% 100%;
    width:21px;
	height:21px;
}

.edit_delete {
	width:21px;
	height:21px;
}

.container {
	margin: 1.3em 0 1.3em 2em;
	padding: 1.1em;
	width:60%;
	font-family: 'Yanone Regular', sans-serif;
	color: #CEFCBE;
	font-size: 1.4em;
	border: solid 2px #CBDCC5;
	background: -webkit-linear-gradient(#8AC16F, #658555);
    background: -o-linear-gradient(#8AC16F, #658555);
    background: -moz-linear-gradient(#8AC16F, #658555);
    background: linear-gradient(#8AC16F, #658555);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8AC16F', endColorstr='#658555'); /* for IE */
}

#address {
	font-size: 1.7em;
}

#rating{
	font-size: 2.2em;
	color: #4FD9FB;
	float: right;
	margin: .2em;
}

#line_1{
	color: #F2F47C;
	margin: .2em 0 .5em 0;
	font-family: 'Linux Libertine Semibold', serif;
	font-size: .85em;
}

.line_1A {
	float:left;
	margin-left:.8em;
	margin-right: 1.5em;
}

.line_1B {
	padding-top: .06em;
}

#comments_box{
	border: solid 1px #C7E0C9;
	margin:1em;
	padding: .5em;
	background: -webkit-linear-gradient(#A0FC7B, #64CF06);
    background: -o-linear-gradient(#A0FC7B, #64CF06);
    background: -moz-linear-gradient(#A0FC7B, #64CF06);
    background: linear-gradient(#A0FC7B, #64CF06);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0FC7B', endColorstr='#64CF06'); /* for IE */
	font-family: 'Linux Libertine Bold', serif;
	font-size: .7em;
	color: #577A3B;
}

#url_box {
	text-align: right;
	margin-right: 3em;
	font-family: 'Linux Libertine Bold', serif;
	font-size: .75em;
}

#url_box a{
	color: #CAF671;
	text-decoration: none;
	font-size: 1.35em;
}

#price {
	margin:.3em;
	color: #F5930A;
	width: inherit;
	padding: .15em;
	font-size: 3.5em;
	border: solid 2px #496B45;
	background: -webkit-linear-gradient(#F4F9AD, #E9F174);
    background: -o-linear-gradient(#F4F9AD, #E9F174);
    background: -moz-linear-gradient(#F4F9AD, #E9F174);
    background: linear-gradient(#F4F9AD, #E9F174);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F9AD', endColorstr='#E9F174'); /* for IE */
}

.invisible {
	display: none;
}

.three_buttons{
	width:40%;
	margin-right: auto;
	margin-left: auto;
}
